.feature-collection{
    // background-color: red;
    // width: 100%;
    text-align: center;
    .product-item{
        float: left;
        // padding: 0 15px;
        width: 33.33%;
        margin-bottom: 2%;
        font-weight: bold;
        .img-feature{
            max-width: 100%;
            width: 100%;
            .test-class-feature{
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
        &:nth-of-type(3n+1){
            clear: both;
        }
    }
    &:after{
        clear: both;
        content: "";
        display: table;
    }
}

.clearfix{
    :after{
        clear: both;
        content: "";
        display: table;
    }
}