/*----------------------- Extra for Typography Start ------------------ */
.text-small {
  font-size: 16px;
  font-family: $header-font-new1;
}
.text-medium {
  font-size: 24px;
  font-family: $header-font-new1;
}
.text-large {
  font-size: 32px;
  font-family: $header-font-new1;
}

/*----------------------- Extra for Typography End ------------------ */
