/* Variables */

/* ================= General Colors ================= */ 
$color-general-heading:var(--color-general-heading);
$color-general-body:var(--color-general-body);
$color-general-body1:var(--color-general-body1);
$color-general-font1:var(--color-general-font1);
$color-general-link1:var(--color-general-link1);
$color-general-background1:var(--color-general-background1);
$color-general-background2:var(--color-general-background2);
$color-general-sale1:var(--color-general-sale1);

/* ================= Buttons Colors ================= */
$color-buttons-background2:var(--color-buttons-background2);
$color-buttons-text2:var(--color-buttons-text2);

/* ================= Header Colors ================= */
$color-header-background4:var(--color-header-background4);
$color-header-headings4:var(--color-header-headings4);
$color-header-text4:var(--color-header-text4);

/* ================= Footer Colors ================= */
$color-footer-background5:var(--color-footer-background5);
$color-footer-heading5:var(--color-footer-heading5);
$color-footer-text5:var(--color-footer-text5);

/* ================= Sidebar navigation Colors ================= */
$color-sidebar-background6:var(--color-sidebar-background6);
$color-sidebar-text6:var(--color-sidebar-text6);

/* ================= Newsletter popup Colors ================= */
$color-popup-background7:var(--color-popup-background7);
$color-popup-text7:var(--color-popup-text7);

/* ================= Secondary elements Colors ================= */
$color-secondary-background8:var(--color-secondary-background8);
$color-secondary-text8:var(--color-secondary-text8);

 /* ================= Typography Font Family ================= */
 $header-font-new1:var(--header-font-new1); 
 $body-font-new:var(--body-font-new); 
 $body-base-size1:var(--body-base-size1); 
