/*----------------------- Footer start ------------------ */
.parentFooter {
  @include flexbox();
  @include justify-content(center);
  background-color: $color-footer-background5;

  .childFooter {
    background-color: $color-footer-background5;
    width: 90%;
    margin-top: 5%;
    margin-bottom: 2%;
    @include flexbox();
    @include mq("phone") {
      @include flex-direction(column);
      /*           text-align: center; */
    }
    .h4 {
      padding-bottom: 5%;
      color: $color-footer-text5;
    }
    .head {
      color: $color-footer-heading5;
      font-weight: bold;
    }
    li {
      padding-bottom: 5%;
      a {
        color: $color-footer-text5;
        text-decoration: none;
      }
    }
    .column1 {
      width: 25%;
      margin-right: 5%;
      a {
        margin-right: 8%;
        color: $color-footer-text5;
      }
      .text {
        margin-top: 40%;
        .h6 {
          font-size: 12px;
          color: $color-footer-text5;
        }
      }
    }
    .column2 {
      width: 15%;
      margin-left: 5%;
    }
    .column3 {
      width: 15%;
      margin-left: 5%;
    }
    .column4 {
      margin-left: 5%;
      width: 25%;
      input {
        width: 80%;
        padding: 12px 14px;
        margin-top: 2%;
        margin-bottom: 2%;
        color: $color-header-text4;
      }
      button {
        background-color: $color-footer-heading5;
        margin: 20px 0px 0px;
        padding: 14px 28px;
        color: $color-buttons-background2;
        font-size: 13px Futura, sans-serif;
      }
      .payment-type{
        margin-top: 60%;
      }
    }
    .clo {
      @include mq("phone") {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
}

/*----------------------- Footer end ------------------ */
