// Nabar CSS

/*--- before nav start ---*/
.upperNav {
  width: 100%;
  background-color: $color-general-background2;
  color: $color-general-heading;
  text-align: center;
  padding: 12px 15px;
  font-size: 12px;
  font-family: $header-font-new1;
  /*   padding-top: 0.5%;
      padding-bottom: 0.5%; */
}

/*--- before nav end ---*/

/*--- nav start ---*/
.navbar {
  position: sticky;
  top: 0.1px;
  z-index: 3;
  background-color: $color-header-background4;
  border-bottom: 1px solid $color-general-body1;
  padding: 18px 50px 24px;
  .navLine1 {
    @include flexbox();
    @include align-items(center);
    color: $color-header-headings4;
    font-family: $body-font-new;
    .dropdown {
      width: 20%;
      select {
        border-color: $color-general-background1;
        background-color: $color-header-background4;
        margin-left: 8%;
        color: $color-header-headings4;
      }
    }
    .themeName1 {
      width: 60%;
      text-align: center;
    }
    .cart1 {
      width: 20%;
      // background-color: royalblue;
      .menu {
        ul {
          color: $color-header-headings4;
          @include flexbox();
          @include justify-content(space-evenly);
        }
      }
    }
  }
  .navLine2 {
    @include flexbox();
    @include justify-content(center);
    margin: 6px 0px;
    font-family: $body-font-new;
    .menu {
      width: 40%;
      font-size: $body-base-size1;
      ul {
        li{
          ul{
            color: $color-header-text4;
            @include flexbox();
            @include justify-content(space-between);
            text-decoration: none;
            @include mq("phone") {
              @include flex-direction(column);
              text-align: center;
              color: #5C5C5C;
              li{
                a{

                  text-decoration: none;
                  background-color: red;
                }
              }

          }
        }
        }
      }
    }
  }
}

.link{
  text-decoration: none;
  color: #5C5C5C;
}

/*--- nav end ---*/
