
  /*----------------------- News start ------------------ */
  
  .parentNews {
    text-align: center;
    margin-top: 4%;
  
    @include flexbox();
    @include justify-content(center);
    .childNews {
      width: 80%;
      @include mq("phone") {
        width: 90%;
      }
      .cardsNews {
        text-align: start;
        @include flexbox();
        @include justify-content(space-between);
        @include mq("phone") {
          @include flex-direction(column);
        }
        margin-top: 5%;
  
        .card {
          width: 30%;
          @include mq("phone") {
            width: 100%;
            margin-top: 5%;
          }
          img {
            width: 100%;
          }
          .text {
            margin-left: 3%;
            #readMoreNews {
              text-decoration: underline;
            }
          }
        }
      }
  
      .newsButton {
        margin-top: 5%;
        margin-bottom: 5%;
        :hover {
          background-color: $color-secondary-text8;
          color: $color-secondary-background8;
        }
        button {
          background-color: $color-general-heading;
          padding: 14px 28px;
          border-color: $color-general-heading;
  
          a {
            text-decoration: none;
            color: $color-general-font1;
            font: 13px Futura, sans-serif;
            // font-size: 13px;
          }
        }
      }
    }
  }
  
  /*----------------------- News end ------------------ */
  