
  /*----------------------- New Collection start ------------------ */
  
  .newCollection {
    margin-top: 3%;
    .text {
      text-align: center;
    }
  
    .parentSlider03 {
      @include flexbox();
      // background-color: red;
      @include justify-content(center);
  
      .slider03 {
        text-align: center;
        width: 80%;
  
        .parentNewCollection {
          @include flexbox();
          // background-color: red;
          @include justify-content(center);
          margin-bottom: 5%;
          .sliderNewCollection {
            width: 90%;
  
            @include mq("phone") {
              width: 100%;
            }
            // background-color: aqua;
            @include flexbox();
            @include justify-content(space-evenly);
            .imageCollention {
              background-color: $color-general-background1;
              width: 100%;
              .test-class-collection{
                width: 100%;
              
                @include mq("phone") {
                  width: 200%;
                  position: relative;
                  z-index: 5;
                }
              }
            }
            .dressCollection {
              text-align: left;
              margin-left: 5%;
              width: 60%;
              img {
                width: 80%;
              }
  
              .h4 {
                color: $color-general-body;
                // text-align: left;
                // margin-left: 3%;
              }
              a {
                button {
                  background-color: $color-general-heading;
                  color: $color-general-font1;
                  width: 80%;
                  font-size: 13px;
                  padding: 14px 28px;
                  font-weight: bold;
                }
              }
              #canyonRomber {
                color: $color-general-sale1;
                span {
                  color: $color-general-body1;
                  text-decoration: line-through;
                  margin-left: 3%;
                }
              }
            }
          }
        }
      }
    }
  }
  
  /*----------------------- New Collection end ------------------ */
  