
  /*----------------------- Background Image start ------------------ */
  
  .parentBackgroundParallax {
    width: 100%;
    height: 80vh;
    background-image: url(https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img_parallax_3_1500x.jpg?v=1527705026);
  
    // For parallax
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    .childBackgroundParallax {
      background-color: $color-general-background1;
      width: 20%;
      @include mq("phone") {
        width: 40%;
      }
  
      color: $color-general-link1;
      .text {
        text-align: center;
        padding: 48px 15px;
        @include mq("phone") {
          padding: 18px 10px;
        }
        a {
          color: $color-general-link1;
        }
      }
    }
    @include mq("phone") {
      margin-top: 5%;
    }
  }
  
  /*----------------------- Background Image end ------------------ */
  