// First Slider CSS

/*--- Slider Start --- */
#wrapper {
  width: 100%;
  // margin-top: 1rem;
  // font-size: 1rem;
  .imgwrap {
    position: relative;
    .wrapper1 {
      position: absolute;
      top: 60%;
      left: 5%;
      color: $color-general-font1;
      font-family: $body-font-new;

      .h5 {
        margin: -4.875px 0px 15px;
        color: $color-general-font1;
        font-family: $body-font-new;
      }
      .h2 {
        margin: 16px 0px 19.09px;
        color: $color-general-font1;
        font-family: $body-font-new;
      }
      button {
        background-color: $color-buttons-background2;
        color: $color-buttons-text2;
        font-family: $body-font-new;
        min-width: 130px;
        padding: 1rem;
        margin: 20px 0px 0px;
        margin-right: 8px;
        // border-color: white;
        border: none;
      }
    }
  }
  img {
    width: 100%;
    @include mq("phone") {
      height: 50vh;
      object-fit: cover;
    }
  }
}

.slick-dots {
  text-align: right;
  margin: 5rem;
  position: absolute;
  bottom: -25px;
  display: block;
  width: 90%;
  list-style: none;
  li {
    button:before {
      font-size: 1rem;
      color: $color-general-font1;
      font-family: $body-font-new;
    }
  }
}

/*----------------------- Slider end ------------------ */
