/*----------------------- Three Images start ------------------ */
.threeImages {
  margin-top: 4%;
  @include flexbox();

  @include mq("phone") {
    @include flex-direction(column);
  }
  .wrapper2 {
    padding-top: 80%;
    padding-left: 10%;
    color: $color-general-font1;
    button {
      background-color: $color-buttons-background2;
      //   padding: 1rem;
      border-color: $color-buttons-background2;
      font-size: 13px;
      color: $color-buttons-text2;
      padding: 14px 28px;
    }
  }
  //   :hover{
  //       @include transform(scale(1.1));
  //   }
  .imageOne {
    width: 33.3%;
    height: 80vh;
    background-position: center center;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img-1_750x800_crop_center.jpg?v=1527463948");
  }
  .imageTwo {
    width: 33.4%;

    height: 80vh;
    background-position: center center;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img-2_750x800_crop_center.jpg?v=1527463974");
  }
  .imageThree {
    width: 33.3%;
    height: 80vh;
    background-position: center center;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img-3_750x800_crop_center.jpg?v=1527463983");
  }
  .img {
    @include mq("phone") {
      width: 100%;
      object-fit: cover;
      margin-bottom: 3%;
    }
  }
}

/*----------------------- Three Images end ------------------ */
