
  /*----------------------- Weekly Selection start ------------------ */
  
  .weeklySelection {
    text-align: center;
    margin-top: 4%;
    font-family: $body-font-new;
    .h4 {
      // margin-bottom: 5px;
      background-color: $color-general-background1;
      font-family: $body-font-new;
    }
    .weeklyButton {
      button {
        background-color: $color-general-background1;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        color: $color-general-heading;
        font-size: 24px;
      font-family: $body-font-new;
      }
    }
  }
  
  .parentSlider {
    // background-color: red;
    @include flexbox();
    @include justify-content(center);
    .childSlider2 {
      width: 90%;
      .slider1 {
        .slider01 {
          margin-top: 15%;
          margin-bottom: 10%;
          .image1 {
            padding-right: 4%;
            padding-left: 4%;
  
            img {
              width: 100%;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
  .slick-next:before,
  .slick-prev:before {
    font-family: slick;
    margin: 15%;
    font-size: 30px;
    line-height: 1;
    opacity: 1;
    color: $color-general-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .allProductsButton {
    text-align: center;
    :hover {
      background-color: $color-general-font1;
      color: $color-general-heading;
    }
    button {
      background-color: $color-general-heading;
      padding: 14px 28px;
      border-color: $color-general-heading;
  
      a {
        text-decoration: none;
        color: $color-general-font1;
        font: 13px Futura, sans-serif;
        // font-size: 13px;
      }
    }
  }
  
  /*----------------------- Weekly Selection end ------------------ */
  