/*----------------------- Welcome start ------------------ */

.parentWelcome {
  margin-bottom: 4%;
  .childWelcome {
    @include flexbox();
    @include justify-content(center);
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    .text2 {
      text-align: center;
      width: 30%;
      @include mq("phone") {
        width: 80%;
      }
    }
  }
  .video1 {
    iframe {
      width: 100%;
      height: 70vh;
    }
  }
}

/*----------------------- Welcome end ------------------ */
