<div class="task11">
      <h1>Task - 11</h1>

      <picture class="img11">
        <source loading="lazy" media="(min-width:800px)" srcset="https://source.unsplash.com/1600x900/?nature,water">
        
        <source loading="lazy" media="(min-width:500px)" srcset="https://source.unsplash.com/1600x900/?nature,forest">

        <img src="https://source.unsplash.com/1600x900/?nature,ice" loading="lazy" alt="Flowers">
      </picture>
{%- comment -%}
      <img
        class="img11"
        src="./img/a640.jpg"
        alt="image"
        srcset="
          ./img/a640.jpg 480w,
          ./img/b1280.jpg 960w,
          ./img/c1920.jpg 1440w
        "
        sizes="(max-width: 480px) 240px,
               (max-width: 960px) 480px,
            1440px"
      >
      {%- endcomment -%}
    </div>
