@charset "UTF-8";
/*================ Common ================*/
/*-----------------------  mixin start ------------------ */
/*--- mixin flexbox ------ */
/*----------------------- mixin end ------------------ */
/* Variables */
/* ================= General Colors ================= */
/* ================= Buttons Colors ================= */
/* ================= Header Colors ================= */
/* ================= Footer Colors ================= */
/* ================= Sidebar navigation Colors ================= */
/* ================= Newsletter popup Colors ================= */
/* ================= Secondary elements Colors ================= */
/* ================= Typography Font Family ================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  :root .h1 {
    font-size: 32px;
    font-family: var(--header-font-new1); }
  :root .h2 {
    font-size: var(--body-base-size1);
    font-family: var(--header-font-new1); }
  :root .h3 {
    font-size: 18.72px;
    font-family: var(--body-font-new); }
  :root .h4 {
    font-size: 16px;
    font-family: var(--body-font-new); }
  :root .h5 {
    font-size: 13.28px;
    font-family: var(--body-font-new); }
  :root .h6 {
    font-size: 12px;
    font-family: var(--body-font-new); }
  :root ul {
    list-style: none; }

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font-new);
  font-weight: 400;
  font-style: normal;
  color: var(--color-general-body);
  background: var(--color-general-background1);
  line-height: 1.65; }

/* MIXIN : MEDIA QUERIES
         *    EX : @include mq( 'lap-and-up' ) { CODE }
         * ------------------------------------------------------------------------- */
/*----------------------- media query mixin end ------------------ */
/*================ Vendors ================*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0; }

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0; }

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1; }

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25; }

.slick-next:before,
.slick-prev:before {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: "\2190"; }

[dir="rtl"] .slick-prev:before {
  content: "\2192"; }

.slick-next {
  right: -25px; }

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: "\2192"; }

[dir="rtl"] .slick-next:before {
  content: "\2190"; }

.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0; }

.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0; }

.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: sans-serif;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "\2022";
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000; }
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: 0; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-list, .slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:after, .slick-track:before {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir=rtl] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
/*================ Sections ================*/
/*--- before nav start ---*/
.upperNav {
  width: 100%;
  background-color: var(--color-general-background2);
  color: var(--color-general-heading);
  text-align: center;
  padding: 12px 15px;
  font-size: 12px;
  font-family: var(--header-font-new1);
  /*   padding-top: 0.5%;
      padding-bottom: 0.5%; */ }

/*--- before nav end ---*/
/*--- nav start ---*/
.navbar {
  position: sticky;
  top: 0.1px;
  z-index: 3;
  background-color: var(--color-header-background4);
  border-bottom: 1px solid var(--color-general-body1);
  padding: 18px 50px 24px; }
  .navbar .navLine1 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: var(--color-header-headings4);
    font-family: var(--body-font-new); }
    .navbar .navLine1 .dropdown {
      width: 20%; }
      .navbar .navLine1 .dropdown select {
        border-color: var(--color-general-background1);
        background-color: var(--color-header-background4);
        margin-left: 8%;
        color: var(--color-header-headings4); }
    .navbar .navLine1 .themeName1 {
      width: 60%;
      text-align: center; }
    .navbar .navLine1 .cart1 {
      width: 20%; }
      .navbar .navLine1 .cart1 .menu ul {
        color: var(--color-header-headings4);
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-evenly;
        -webkit-justify-content: space-evenly; }
  .navbar .navLine2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin: 6px 0px;
    font-family: var(--body-font-new); }
    .navbar .navLine2 .menu {
      width: 40%;
      font-size: var(--body-base-size1); }
      .navbar .navLine2 .menu ul li ul {
        color: var(--color-header-text4);
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        text-decoration: none; }
        @media screen and (max-width: 767px) {
          .navbar .navLine2 .menu ul li ul {
            flex-direction: column;
            -webkit-flex-direction: column;
            text-align: center;
            color: #5C5C5C; }
            .navbar .navLine2 .menu ul li ul li a {
              text-decoration: none;
              background-color: red; } }

.link {
  text-decoration: none;
  color: #5C5C5C; }

/*--- nav end ---*/
/*--- Slider Start --- */
#wrapper {
  width: 100%; }
  #wrapper .imgwrap {
    position: relative; }
    #wrapper .imgwrap .wrapper1 {
      position: absolute;
      top: 60%;
      left: 5%;
      color: var(--color-general-font1);
      font-family: var(--body-font-new); }
      #wrapper .imgwrap .wrapper1 .h5 {
        margin: -4.875px 0px 15px;
        color: var(--color-general-font1);
        font-family: var(--body-font-new); }
      #wrapper .imgwrap .wrapper1 .h2 {
        margin: 16px 0px 19.09px;
        color: var(--color-general-font1);
        font-family: var(--body-font-new); }
      #wrapper .imgwrap .wrapper1 button {
        background-color: var(--color-buttons-background2);
        color: var(--color-buttons-text2);
        font-family: var(--body-font-new);
        min-width: 130px;
        padding: 1rem;
        margin: 20px 0px 0px;
        margin-right: 8px;
        border: none; }
  #wrapper img {
    width: 100%; }
    @media screen and (max-width: 767px) {
      #wrapper img {
        height: 50vh;
        object-fit: cover; } }

.slick-dots {
  text-align: right;
  margin: 5rem;
  position: absolute;
  bottom: -25px;
  display: block;
  width: 90%;
  list-style: none; }
  .slick-dots li button:before {
    font-size: 1rem;
    color: var(--color-general-font1);
    font-family: var(--body-font-new); }

/*----------------------- Slider end ------------------ */
/*----------------------- Weekly Selection start ------------------ */
.weeklySelection {
  text-align: center;
  margin-top: 4%;
  font-family: var(--body-font-new); }
  .weeklySelection .h4 {
    background-color: var(--color-general-background1);
    font-family: var(--body-font-new); }
  .weeklySelection .weeklyButton button {
    background-color: var(--color-general-background1);
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    color: var(--color-general-heading);
    font-size: 24px;
    font-family: var(--body-font-new); }

.parentSlider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center; }
  .parentSlider .childSlider2 {
    width: 90%; }
    .parentSlider .childSlider2 .slider1 .slider01 {
      margin-top: 15%;
      margin-bottom: 10%; }
      .parentSlider .childSlider2 .slider1 .slider01 .image1 {
        padding-right: 4%;
        padding-left: 4%; }
        .parentSlider .childSlider2 .slider1 .slider01 .image1 img {
          width: 100%;
          padding-right: 10px; }

.slick-next:before,
.slick-prev:before {
  font-family: slick;
  margin: 15%;
  font-size: 30px;
  line-height: 1;
  opacity: 1;
  color: var(--color-general-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.allProductsButton {
  text-align: center; }
  .allProductsButton :hover {
    background-color: var(--color-general-font1);
    color: var(--color-general-heading); }
  .allProductsButton button {
    background-color: var(--color-general-heading);
    padding: 14px 28px;
    border-color: var(--color-general-heading); }
    .allProductsButton button a {
      text-decoration: none;
      color: var(--color-general-font1);
      font: 13px Futura, sans-serif; }

/*----------------------- Weekly Selection end ------------------ */
/*----------------------- Three Images start ------------------ */
.threeImages {
  margin-top: 4%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  @media screen and (max-width: 767px) {
    .threeImages {
      flex-direction: column;
      -webkit-flex-direction: column; } }
  .threeImages .wrapper2 {
    padding-top: 80%;
    padding-left: 10%;
    color: var(--color-general-font1); }
    .threeImages .wrapper2 button {
      background-color: var(--color-buttons-background2);
      border-color: var(--color-buttons-background2);
      font-size: 13px;
      color: var(--color-buttons-text2);
      padding: 14px 28px; }
  .threeImages .imageOne {
    width: 33.3%;
    height: 80vh;
    background-position: center center;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img-1_750x800_crop_center.jpg?v=1527463948"); }
  .threeImages .imageTwo {
    width: 33.4%;
    height: 80vh;
    background-position: center center;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img-2_750x800_crop_center.jpg?v=1527463974"); }
  .threeImages .imageThree {
    width: 33.3%;
    height: 80vh;
    background-position: center center;
    background-image: url("https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img-3_750x800_crop_center.jpg?v=1527463983"); }
  @media screen and (max-width: 767px) {
    .threeImages .img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 3%; } }

/*----------------------- Three Images end ------------------ */
/*----------------------- New Collection start ------------------ */
.newCollection {
  margin-top: 3%; }
  .newCollection .text {
    text-align: center; }
  .newCollection .parentSlider03 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center; }
    .newCollection .parentSlider03 .slider03 {
      text-align: center;
      width: 80%; }
      .newCollection .parentSlider03 .slider03 .parentNewCollection {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        -webkit-justify-content: center;
        margin-bottom: 5%; }
        .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection {
          width: 90%;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          justify-content: space-evenly;
          -webkit-justify-content: space-evenly; }
          @media screen and (max-width: 767px) {
            .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection {
              width: 100%; } }
          .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .imageCollention {
            background-color: var(--color-general-background1);
            width: 100%; }
            .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .imageCollention .test-class-collection {
              width: 100%; }
              @media screen and (max-width: 767px) {
                .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .imageCollention .test-class-collection {
                  width: 200%;
                  position: relative;
                  z-index: 5; } }
          .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .dressCollection {
            text-align: left;
            margin-left: 5%;
            width: 60%; }
            .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .dressCollection img {
              width: 80%; }
            .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .dressCollection .h4 {
              color: var(--color-general-body); }
            .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .dressCollection a button {
              background-color: var(--color-general-heading);
              color: var(--color-general-font1);
              width: 80%;
              font-size: 13px;
              padding: 14px 28px;
              font-weight: bold; }
            .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .dressCollection #canyonRomber {
              color: var(--color-general-sale1); }
              .newCollection .parentSlider03 .slider03 .parentNewCollection .sliderNewCollection .dressCollection #canyonRomber span {
                color: var(--color-general-body1);
                text-decoration: line-through;
                margin-left: 3%; }

/*----------------------- New Collection end ------------------ */
/*----------------------- News start ------------------ */
.parentNews {
  text-align: center;
  margin-top: 4%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center; }
  .parentNews .childNews {
    width: 80%; }
    @media screen and (max-width: 767px) {
      .parentNews .childNews {
        width: 90%; } }
    .parentNews .childNews .cardsNews {
      text-align: start;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      margin-top: 5%; }
      @media screen and (max-width: 767px) {
        .parentNews .childNews .cardsNews {
          flex-direction: column;
          -webkit-flex-direction: column; } }
      .parentNews .childNews .cardsNews .card {
        width: 30%; }
        @media screen and (max-width: 767px) {
          .parentNews .childNews .cardsNews .card {
            width: 100%;
            margin-top: 5%; } }
        .parentNews .childNews .cardsNews .card img {
          width: 100%; }
        .parentNews .childNews .cardsNews .card .text {
          margin-left: 3%; }
          .parentNews .childNews .cardsNews .card .text #readMoreNews {
            text-decoration: underline; }
    .parentNews .childNews .newsButton {
      margin-top: 5%;
      margin-bottom: 5%; }
      .parentNews .childNews .newsButton :hover {
        background-color: var(--color-secondary-text8);
        color: var(--color-secondary-background8); }
      .parentNews .childNews .newsButton button {
        background-color: var(--color-general-heading);
        padding: 14px 28px;
        border-color: var(--color-general-heading); }
        .parentNews .childNews .newsButton button a {
          text-decoration: none;
          color: var(--color-general-font1);
          font: 13px Futura, sans-serif; }

/*----------------------- News end ------------------ */
/*----------------------- Welcome start ------------------ */
.parentWelcome {
  margin-bottom: 4%; }
  .parentWelcome .childWelcome {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center; }
    .parentWelcome .childWelcome .text2 {
      text-align: center;
      width: 30%; }
      @media screen and (max-width: 767px) {
        .parentWelcome .childWelcome .text2 {
          width: 80%; } }
  .parentWelcome .video1 iframe {
    width: 100%;
    height: 70vh; }

/*----------------------- Welcome end ------------------ */
/*----------------------- Background Image start ------------------ */
.parentBackgroundParallax {
  width: 100%;
  height: 80vh;
  background-image: url(https://cdn.shopify.com/s/files/1/0011/9242/7564/files/img_parallax_3_1500x.jpg?v=1527705026);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center; }
  .parentBackgroundParallax .childBackgroundParallax {
    background-color: var(--color-general-background1);
    width: 20%;
    color: var(--color-general-link1); }
    @media screen and (max-width: 767px) {
      .parentBackgroundParallax .childBackgroundParallax {
        width: 40%; } }
    .parentBackgroundParallax .childBackgroundParallax .text {
      text-align: center;
      padding: 48px 15px; }
      @media screen and (max-width: 767px) {
        .parentBackgroundParallax .childBackgroundParallax .text {
          padding: 18px 10px; } }
      .parentBackgroundParallax .childBackgroundParallax .text a {
        color: var(--color-general-link1); }
  @media screen and (max-width: 767px) {
    .parentBackgroundParallax {
      margin-top: 5%; } }

/*----------------------- Background Image end ------------------ */
/*----------------------- Footer start ------------------ */
.parentFooter {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: var(--color-footer-background5); }
  .parentFooter .childFooter {
    background-color: var(--color-footer-background5);
    width: 90%;
    margin-top: 5%;
    margin-bottom: 2%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    @media screen and (max-width: 767px) {
      .parentFooter .childFooter {
        flex-direction: column;
        -webkit-flex-direction: column;
        /*           text-align: center; */ } }
    .parentFooter .childFooter .h4 {
      padding-bottom: 5%;
      color: var(--color-footer-text5); }
    .parentFooter .childFooter .head {
      color: var(--color-footer-heading5);
      font-weight: bold; }
    .parentFooter .childFooter li {
      padding-bottom: 5%; }
      .parentFooter .childFooter li a {
        color: var(--color-footer-text5);
        text-decoration: none; }
    .parentFooter .childFooter .column1 {
      width: 25%;
      margin-right: 5%; }
      .parentFooter .childFooter .column1 a {
        margin-right: 8%;
        color: var(--color-footer-text5); }
      .parentFooter .childFooter .column1 .text {
        margin-top: 40%; }
        .parentFooter .childFooter .column1 .text .h6 {
          font-size: 12px;
          color: var(--color-footer-text5); }
    .parentFooter .childFooter .column2 {
      width: 15%;
      margin-left: 5%; }
    .parentFooter .childFooter .column3 {
      width: 15%;
      margin-left: 5%; }
    .parentFooter .childFooter .column4 {
      margin-left: 5%;
      width: 25%; }
      .parentFooter .childFooter .column4 input {
        width: 80%;
        padding: 12px 14px;
        margin-top: 2%;
        margin-bottom: 2%;
        color: var(--color-header-text4); }
      .parentFooter .childFooter .column4 button {
        background-color: var(--color-footer-heading5);
        margin: 20px 0px 0px;
        padding: 14px 28px;
        color: var(--color-buttons-background2);
        font-size: 13px Futura, sans-serif; }
      .parentFooter .childFooter .column4 .payment-type {
        margin-top: 60%; }
    @media screen and (max-width: 767px) {
      .parentFooter .childFooter .clo {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0; } }

/*----------------------- Footer end ------------------ */
/*----------------------- Extra for Typography Start ------------------ */
.text-small {
  font-size: 16px;
  font-family: var(--header-font-new1); }

.text-medium {
  font-size: 24px;
  font-family: var(--header-font-new1); }

.text-large {
  font-size: 32px;
  font-family: var(--header-font-new1); }

/*----------------------- Extra for Typography End ------------------ */
.feature-collection {
  text-align: center; }
  .feature-collection .product-item {
    float: left;
    width: 33.33%;
    margin-bottom: 2%;
    font-weight: bold; }
    .feature-collection .product-item .img-feature {
      max-width: 100%;
      width: 100%; }
      .feature-collection .product-item .img-feature .test-class-feature {
        max-width: 100%;
        width: 100%;
        height: auto; }
    .feature-collection .product-item:nth-of-type(3n+1) {
      clear: both; }
  .feature-collection:after {
    clear: both;
    content: "";
    display: table; }

.clearfix :after {
  clear: both;
  content: "";
  display: table; }

