<!DOCTYPE html>
<html class="supports-no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'head' -%}
    {{ content_for_header }}
  </head>
  <body>
    <main>
      {{ content_for_layout }}
    </main>
    {%- render 'footer-script' -%}
  </body>
</html>
