
{% schema %}
{
    "name":"Announcement bar",
    "settings":[
    {
        "type": "checkbox",
        "id": "announcement_checkbox_1",
        "label": "Enable bar"
    },
    {
        "type": "checkbox",
        "id": "announcement_checkbox_2",
        "label": "Home page only"
    },
    {
        "type": "color",
        "id": "announcement_color_1",
        "label": "Background"
    },
    {
        "type": "color",
        "id": "announcement_color_2",
        "label": "Text"
    },
    {
        "type": "text",
        "id": "announcement_text_1",
        "label": "Text",
        "default": "Announce something here"
    },
    {
        "type": "text",
        "id": "announcement_text_2",
        "label": "Link",
        "placeholder": "Paste a link or search" 
    }
    ],
    "presets":[
    {
        "name":"Announcement-bar"
    }
    ],
    "presets":[
    {
      "category":"Text",
      "name":"Announcement bar"
    }
    ]

}
{% endschema %}


