<!-- Feature Collection Page  -->
<!-- Task - 13 Fetch Products from collection -->

<div class="feature-collection">
    {%- assign collection = collections[section.settings.collection] -%}
    <p class="h2">{{collections['sale-1'].title}}</p>
    
{%- for product in collections['sale-1'].products limit: section.settings.collection_limit -%}
 <div class="product-item">
     <div class="img-feature">         
    {%- render
        'srcset',src_name:product.featured_image,src_alt:imgage.alt,src_class:"test-class-feature"
        -%}
     </div>
     <p class="h3">{{forloop.index}} - {{product.title}}</p>
     <p class="h4">{{product.price | money}} <s>{{product.compare_at_price | money}}</s></p>
 </div>
{%- endfor -%}


</div>


{% schema %}
{
    "name":"Feature collection",
    "settings":[
    {
        "type": "collection",
        "id": "collection_1",
        "label": "Collection"
    },
    {
        "type": "range",
        "id": "collection_limit",
        "label": "Collection limit",
        "unit": "no",
        "min": 3,
        "max": 30,
        "step": 3,
        "default": 6
    }
    ],
    "presets":[
    {
        "name":"my-collections"
    }
    ],
    "presets":[
    {
      "category":"Text",
      "name":"Feature Collection"
    }
    ]

}
{% endschema %}

