<!-- ------------------- Footer Start ------------------- -->

{%- for block in section.blocks -%}
{%- if block.type == 'text_block' -%}

<div class="parentFooter">
  <div class="childFooter">
    <div class="clo column1">
      <p class="h4 head">{{ block.settings.footer_heading_1_1 }}</p>
      <p class="h4">{{ block.settings.footer_text_1_1_1 }}</p>
      <p class="h4">{{ block.settings.footer_text_1_2_1 }}</p>

      <a href="#">{% render 'icons',icon:'facebook1'%}</a>
      <a href="#">{% render 'icons',icon:'instagram1'%}</a>
      <a href="#">{% render 'icons',icon:'pinterest1'%}</a>
      <a href="#">{% render 'icons',icon:'youtube1'%}</a>
      <a href="#">{% render 'icons',icon:'tumblr1'%}</a>
      
      
      {% comment %}     
          <i class="fa fa-instagram"></i>
      {% endcomment %}

      <div class="text">
        <p class="h6">{{ block.settings.footer_text_1_3_1 }}</p>
        <p class="h4">{{ block.settings.footer_text_1_4_1 }}</p>
      </div>
    </div>

    <div class="clo column2">
      <p class="h4 head">{{ block.settings.footer_heading_2_1 }}</p>
      <ul>
        <li><a href="#">{{ block.settings.footer_text_2_1_1 }}</a></li>
        <li><a href="#">{{ block.settings.footer_text_2_1_2 }}</a></li>
        <li><a href="#">{{ block.settings.footer_text_2_1_3 }}</a></li>
        <li><a href="#">{{ block.settings.footer_text_2_1_4 }}</a></li>
        <li><a href="#">{{ block.settings.footer_text_2_1_5 }}</a></li>
      </ul>
    </div>

    <div class="clo column3">
      <p class="h4 head">{{ block.settings.footer_heading_3_1 }}</p>
      <ul>
        <li><a href="#">{{ block.settings.footer_text_3_1_1 }}</a></li>
        <li><a href="#">{{ block.settings.footer_text_3_1_2 }}</a></li>
        <li><a href="#">{{ block.settings.footer_text_3_1_3 }}</a></li>
        <li><a href="#">{{ block.settings.footer_text_3_1_4 }}</a></li>
      </ul>
    </div>

    <div class="clo column4">
      <p class="h4 head">{{ block.settings.footer_heading_4_1 }}</p>
      <p class="h4">{{ block.settings.footer_text_4_1_1 }}</p>
      <input type="text" placeholder="Enter your email address" />
      <br />
      <button>{{ block.settings.footer_text_4_1_2 }}</button>

      <div class="payment-type">
        <img src="https://img.icons8.com/color/48/000000/visa.png" />
        <img src="https://img.icons8.com/color/48/000000/mastercard.png" />
        <img src="https://img.icons8.com/color/48/000000/amex.png" />
        <img src="https://img.icons8.com/color/48/000000/paypal.png" />
        <img src="https://img.icons8.com/fluent/48/000000/diners-club.png" />
        <img src="https://img.icons8.com/color/48/000000/discover.png" />
    </div>
    </div>
  </div>
</div>

{%- endif-%} 
{%- endfor -%}

<!-- ------------------- Footer End ------------------- -->


{% schema %}

{
    "name": "Footer",
    "blocks":[
    {
        "name":"Footer",
        "type": "text_block",
        "settings": [
        {
            "type": "text",
            "id": "footer_heading_1_1",
            "label": "For footer heading 1",
            "placeholder": "Type Text",
            "default": "About the shop",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_1_1_1",
            "label": "For footer text 1",
            "placeholder": "Type Text",
            "default": "Auguste The Label is a boutique Australian brand dreamt up by Byron Bay native Ebony Eagles.",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_1_2_1",
            "label": "For footer text 2",
            "placeholder": "Type Text",
            "default": "Ebony started Auguste with a clear vision: to transcend trends, and instead design future vintage pieces that would be loved for seasons to come.",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_1_3_1",
            "label": "For footer text 3",
            "placeholder": "Type Text",
            "default": "© Prestige - Couture",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_1_4_1",
            "label": "For footer text 4",
            "placeholder": "Type Text",
            "default": "Powered by Shopify",
            "info": "Please write details"
        },

        {
            "type": "text",
            "id": "footer_heading_2_1",
            "label": "For footer heading 2",
            "placeholder": "Type Text",
            "default": "Shop",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_2_1_1",
            "label": "For footer text 1",
            "placeholder": "Type Text",
            "default": "All",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_2_1_2",
            "label": "For footer text 2",
            "placeholder": "Type Text",
            "default": "Dresses",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_2_1_3",
            "label": "For footer text 3",
            "placeholder": "Type Text",
            "default": "Tops",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_2_1_4",
            "label": "For footer text 4",
            "placeholder": "Type Text",
            "default": "Skirts",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_2_1_5",
            "label": "For footer text 5",
            "placeholder": "Type Text",
            "default": "Jumpsuits",
            "info": "Please write details"
        },

        {
            "type": "text",
            "id": "footer_heading_3_1",
            "label": "For footer heading 3",
            "placeholder": "Type Text",
            "default": "About",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_3_1_1",
            "label": "For footer text 1",
            "placeholder": "Type Text",
            "default": "Contact",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_3_1_2",
            "label": "For footer text 2",
            "placeholder": "Type Text",
            "default": "About Us",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_3_1_3",
            "label": "For footer text 3",
            "placeholder": "Type Text",
            "default": "FAQ",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_3_1_4",
            "label": "For footer text 4",
            "placeholder": "Type Text",
            "default": "Blog",
            "info": "Please write details"
        },

        {
            "type": "text",
            "id": "footer_heading_4_1",
            "label": "For footer heading 3",
            "placeholder": "Type Text",
            "default": "Newsletter",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_4_1_1",
            "label": "For footer text 1",
            "placeholder": "Type Text",
            "default": "Subscribe to get notified about product launches, special offers and company news.",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "footer_text_4_1_2",
            "label": "For footer button 1",
            "placeholder": "Type Text",
            "default": "SUBSCRIBE",
            "info": "Please write details"
        }

    ]
}
],

"settings":[
{
    "type": "checkbox",
    "label": "Show payment methods",
    "id": "footer_checkbox_1",
    "info": "Payment method icons are automatically displayed based on your Shopify payment methods."
},

{
    "type": "header",
    "content": "CURRENCY SELECTOR",
    "info" : "To add a currency, go to your payment settings."
},
{
    "type": "checkbox",
    "label": "Show currency selector",
    "id": "footer_currency_checkbox_1"
},

{
    "type": "header",
    "content": "LANGUAGE SELECTOR",
    "info" : "To add a language, go to your language settings."
},
{
    "type": "checkbox",
    "label": "Show language selector",
    "id": "footer_language_checkbox_1"
}
],
"presets":[
{
  "category":"Text",
  "name":"Footer"
}
]
}

{% endschema %}
