<!-- ------------------- Navbar start ------------------- -->
{% comment %}     
abc 

<div class="upperNav">
  <p class="h3, {{ settings.header_option_new1 }}">
    Free shipping on orders over $100
  </p>
</div>

<nav class="navbar">
  <div class="navLine1">
    <div class="dropdown">
      <select name="" id="">
        <option value="USD">USD $</option>
        <option value="CAD">CAD $</option>
        <option value="EUR">EUR €</option>
        <option value="JPY">JPY ¥</option>
        <option value="USD">USD $</option>
      </select>
    </div>
    <div class="themeName1">
      <!-- <p class="h8">Prestige</p> -->
      <img
        src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Logo-black-2x-prestige_130x.png?v=1524939414"
        alt="logo"
      />
    </div>
    <div class="cart1">
      <div class="menu">
        <ul>
          <!-- <li>Account</li> -->
          <li>Account</li>
          <li>Search</li>
          <li>Cart (0)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="navLine2">
    <div class="menu">
      <ul>
        <li>Home</li>
        <li>Shop</li>
        <li>Dresses</li>
        <li>Blog</li>
        <li>About</li>
        <li>FAQ</li>
      </ul>
    </div>
  </div>
</nav>
{% endcomment %}


{%- for block in section.blocks -%}
<!-- {{block.type}} -->
{%- if block.type == 'text_block' -%}
<div class="upperNav">
  <p class="h3, {{ settings.header_option_new1 }}">
    <!-- Free shipping on orders over $100 -->
    {{ block.settings.header_1_1 }}
  </p>
</div>

<nav class="navbar">
  <div class="navLine1">
    <div class="dropdown">
      <select name="" id="">
        <option value="USD">USD $</option>
        <option value="CAD">CAD $</option>
        <option value="EUR">EUR €</option>
        <option value="JPY">JPY ¥</option>
        <option value="USD">USD $</option>
      </select>
    </div>
    <div class="themeName1">
      <!-- <p class="h8">Prestige</p> -->
      <img
        src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Logo-black-2x-prestige_130x.png?v=1524939414"
        alt="logo"
      />
    </div>
    <div class="cart1">
      <div class="menu">
        <ul>
          <li>{{ block.settings.header_1_2 }}</li>
          <li>{{ block.settings.header_1_3 }}</li>
          <li>{{ block.settings.header_1_4 }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="navLine2">
    <div class="menu">
      
      <ul class="main-menu">
        {%- for link in linklists[block.settings.main_menu].links -%}
        <li>
            <!--    <a class="link{% if link.active %} active {% endif%}" href='{{link.url}}'>{{link.title}}</a> -->
            {%- if link.links-%}
            <ul class="tire-2">

                {%- for sublink in link.links-%}
                <li>
                    <a class="link{% if link.active %} active {% endif%}" href='{{sublink.url}}'>{{sublink.title}}</a>
                    {%- if sublink.links-%} 
                    <ul class="tire-3">                    
                        {%- for sublink1 in sublink.links-%}
                        <li>
                            <a class="link{% if link.active %} active {% endif%}" href='{{sublink1.url}}'>{{sublink1.title}}</a>
                        </li>
                        {%- endfor -%}
                    </ul>
                    {%- endif -%}
                </li>
                {%- endfor -%}
            </ul>
            {%- endif -%}

           
        </li>
        {%- endfor-%} 
    </ul>

    </div>
  </div>
</nav>

{%- endif-%} 
{%- endfor -%}

<!-- ------------------- Navbar end ------------------- -->



{% schema %}


{
    "name": "Header",
    "blocks":[
    {
      "name":"Text",
      "type": "text_block",
      "settings": [
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main menu"
    },
      {
        "type": "text",
        "id": "header_1_1",
        "label": "For Heading 1",
        "placeholder": "Type Text",
        "default": "Free shipping on orders over $100",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_2",
        "label": "For Accounts",
        "placeholder": "Type Text",
        "default": "Account",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_3",
        "label": "For Search",
        "placeholder": "Type Text",
        "default": "Search",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_4",
        "label": "For Cart",
        "placeholder": "Type Text",
        "default": "Cart (0)",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_5",
        "label": "For Home",
        "placeholder": "Type Text",
        "default": "Home",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_6",
        "label": "For Shop",
        "placeholder": "Type Text",
        "default": "Shop",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_7",
        "label": "For Dresses",
        "placeholder": "Type Text",
        "default": "Dresses",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_8",
        "label": "For Blog",
        "placeholder": "Type Text",
        "default": "Blog",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_9",
        "label": "For About",
        "placeholder": "Type Text",
        "default": "About",
        "info": "Please write details"
      },
      {
        "type": "text",
        "id": "header_1_10",
        "label": "For FAQ",
        "placeholder": "Type Text",
        "default": "FAQ",
        "info": "Please write details"
      }
    ]
    } 
    ],


"settings":[
{
    "type": "checkbox",
    "label": "Use sticky header",
    "id": "navbar_checkbox_1"
},
{
  "type": "header",
  "content": "LOGO"
},

{
  "type": "image_picker",
  "id": "navbar_image_1",
  "label": "Image",
  "info": "200 x 60px .png recommended"
},
{
  "type": "range",
  "id": "navbar_range_1",
  "label": "Image width",
  "default": 140,
  "min": 50,
  "max": 350,
  "step": 5,
  "unit": "px"
 },
 {
  "type": "range",
  "id": "navbar_range_2",
  "label": "Mobile image width",
  "default": 90,
  "min": 50,
  "max": 200,
  "step": 5,
  "unit": "px"
 },

 {
  "type": "header",
  "content": "CURRENCY SELECTOR",
  "info": "To add a currency, go to your payment settings."
},
{
  "type": "checkbox",
  "label": "Show currency selector",
  "id": "navbar_checkbox_2"
},
 
 {
  "type": "header",
  "content": "LANGUAGE SELECTOR",
  "info": "To add a language, go to your language settings."
},
{
  "type": "checkbox",
  "label": "Show language selector",
  "id": "navbar_checkbox_3"
},
{
  "type": "header",
  "content": "NAVIGATION"
},


{
  "type": "page",
  "label": "Menu",
  "id": "navbar_page_1"
},

{
  "type": "select",
  "id": "navbar_option_1",
  "label": "Navigation style",
  "options": [
      {
          "value": "sidebar",
          "label": "Sidebar"
      },
      {
        "value": "inline",
        "label": "Inline"
      },
      {
          "value": "center",
          "label": "Center"
      },
      {
          "value": "logo-left",
          "label": "Logo left"
      }
  ],
  "info":"Setting will default to center style if screen width cannot fit all the links."
},

{
  "type": "checkbox",
  "label": "Show icons",
  "id": "navbar_checkbox_7",
  "info": "Text for account, search and cart are replaced by icons on desktop."
},

{
  "type": "header",
  "content": "TRANSPARENT HEADER"
},

{
  "type": "checkbox",
  "label": "Enable on homepage",
  "id": "navbar_checkbox_4"
},

{
  "type": "checkbox",
  "label": "Enable on collection pages",
  "id": "navbar_checkbox_5"
},

{
  "type": "checkbox",
  "label": "Show separation border",
  "id": "navbar_checkbox_6"
},
{
  "type": "color",
  "label": "Text/icon color",
  "id": "navbar_color_1",
  "default": "#FFFFFF"
},

{
  "type": "image_picker",
  "id": "navbar_image_2",
  "label": "Logo image",
  "info": "200 x 60px .png recommended"
} 
 
],

    "presets":[
    {
      "category":"Text",
      "name":"Header"
    }
    ]
}

{% endschema %}



