<!-- ------------------- New Collection Start ------------------- -->

{%- for block in section.blocks -%}
{%- if block.type == 'text_block' -%}
 
<div class="newCollection">
  <div class="text">
    <p class="h3">{{ block.settings.collection_heading_1_1 }}</p>
    <p class="h2, {{ settings.header_option_new1 }}">{{ block.settings.collection_heading_1_2 }}</p>
  </div>

  <div class="parentSlider03">
    <div class="slider03">
      <div class="parentNewCollection">
        <div class="sliderNewCollection">
          <div class="imageCollention">
            {%- render'srcset',src_name:block.settings.collection_1_1,src_alt:image,src_class:"test-class-collection"-%}
          </div>
          <div class="dressCollection">
            {%- render'srcset',src_name:block.settings.collection_2_1,src_alt:image,src_class:"test-class-collection1"-%}
            <p class="h4">{{ block.settings.collection_text_1_1 }}</p>
            <p class="h4">{{ block.settings.collection_text_2_1 }}</p>
            <a href=""><button>{{ block.settings.collection_button_1_1 }}</button></a>
          </div>
        </div>
      </div>
      <div class="parentNewCollection">
        <div class="sliderNewCollection">
          <div class="imageCollention">
            {%- render'srcset',src_name:block.settings.collection_1_2,src_alt:image,src_class:"test-class-collection"-%}
          </div>
          <div class="dressCollection">
            {%- render'srcset',src_name:block.settings.collection_2_2,src_alt:image,src_class:"test-class-collection1"-%}
            <p class="h4">{{ block.settings.collection_text_1_2 }}</p>
            <p class="h4">{{ block.settings.collection_text_2_2 }}</p>
            <a href=""><button>{{ block.settings.collection_button_1_2 }}</button></a>
          </div>
        </div>
      </div>
      <div class="parentNewCollection">
        <div class="sliderNewCollection">
          <div class="imageCollention">
            
    {%- render'srcset',src_name:block.settings.collection_1_3,src_alt:image,src_class:"test-class-collection"-%}
          </div>
          <div class="dressCollection">
            {%- render'srcset',src_name:block.settings.collection_2_3,src_alt:image,src_class:"test-class-collection1"-%}
            <p class="h4">{{ block.settings.collection_text_1_3 }}</p>
            <p class="h4" id="canyonRomber">{{ block.settings.collection_text_2_3 }} <span>$200</span></p>
            <a href=""><button>{{ block.settings.collection_button_1_3 }}</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>


{%- endif-%}
{%- endfor -%}
<!-- ------------------- New Collection End ------------------- -->


{% schema %}

{
    "name": "Featured product",
    "blocks":[
    {
        "name":"New Collection",
        "type": "text_block",
        "settings": [
        {
            "type": "text",
            "id": "collection_heading_1_1",
            "label": "For Collection text 1",
            "placeholder": "Type Text",
            "default": "New Collection",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "collection_heading_1_2",
            "label": "For Collection text 2",
            "placeholder": "Type Text",
            "default": "The Superbloom",
            "info": "Please write details"
        },

        {
            "type": "image_picker",
            "id": "collection_1_1",
            "label": "For Image 1",
            "info": "Please upload image"
        },
        {
            "type": "image_picker",
            "id": "collection_2_1",
            "label": "For Image 2",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "collection_text_1_1",
            "label": "For Collection text 2",
            "placeholder": "Type Text",
            "default": "Desert Dandelion Grace Blouse Emerald",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "collection_text_2_1",
            "label": "For Price Collection text 2",
            "placeholder": "Type Text",
            "default": "$135",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "collection_button_1_1",
            "label": "For Collection button 2",
            "placeholder": "Type Text",
            "default": "VIEW THIS PRODUCT",
            "info": "Please write details"
        },

        {
            "type": "image_picker",
            "id": "collection_1_2",
            "label": "For Image 2",
            "info": "Please upload image"
        },
        {
            "type": "image_picker",
            "id": "collection_2_2",
            "label": "For Image 2",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "collection_text_1_2",
            "label": "For Collection text 2",
            "placeholder": "Type Text",
            "default": "Desert Dandelion Grace Blouse Emerald",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "collection_text_2_2",
            "label": "For Price Collection text 2",
            "placeholder": "Type Text",
            "default": "$135",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "collection_button_1_2",
            "label": "For Collection button 2",
            "placeholder": "Type Text",
            "default": "VIEW THIS PRODUCT",
            "info": "Please write details"
        },

        {
            "type": "image_picker",
            "id": "collection_1_3",
            "label": "For Image 3",
            "info": "Please upload image"
        },
        {
            "type": "image_picker",
            "id": "collection_2_3",
            "label": "For Image 3",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "collection_text_1_3",
            "label": "For Collection text 3",
            "placeholder": "Type Text",
            "default": "Desert Dandelion Grace Blouse Emerald",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "collection_text_2_3",
            "label": "For Price Collection text 2",
            "placeholder": "Type Text",
            "default": "$135",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "collection_button_1_3",
            "label": "For Collection button 2",
            "placeholder": "Type Text",
            "default": "VIEW THIS PRODUCT",
            "info": "Please write details"
        }

    ]
}
],

"settings":[

{
  "type": "text",
  "label": "Sub-heading",
  "id": "new_collection_1_text_1"
},
{
  "type": "text",
  "label": "Heading",
  "id": "new_collection_1_text_2",
  "default": "Featured product"
},
{
  "type": "checkbox",
  "label": "Show headings on mobile",
  "id": "new_collection_1_checkbox_1"
},
{
  "type": "product",
  "label": "Product",
  "id": "new_collection_1_page_1"
},
{
  "type": "checkbox",
  "label": "Show vendor",
  "id": "new_collection_1_checkbox_2"
},
{
  "type": "checkbox",
  "label": "Show SKU  ",
  "id": "new_collection_1_checkbox_3"
},
{
  "type": "checkbox",
  "label": "Show description",
  "id": "new_collection_1_checkbox_4"
},
{
  "type": "checkbox",
  "label": "Description below add to cart",
  "id": "new_collection_1_checkbox_5"
},

{
  "type": "select",
  "id": "new_collection_1_option_2",
  "label": "Selector type",
  "options": [
      {
          "value": "block",
          "label": "Block"
      },
      {
          "value": "dropdown",
          "label": "Dropdown"
      }
  ]
},

{
  "type": "checkbox",
  "label": "Show color swatch",
  "id": "new_collection_1_checkbox_6",
  "info": "Some colors appear white? Learn more."
},
{
  "type": "checkbox",
  "label": "Show color carousel",
  "id": "new_collection_1_checkbox_7",
  "info": "A pop-up selector with variant images for choosing colors. Only enables when color swatch is disabled."
},
{
  "type": "checkbox",
  "label": "Show quantity selector",
  "id": "new_collection_1_checkbox_8"
},
{
  "type": "checkbox",
  "label": "Show inventory quantity",
  "id": "new_collection_1_checkbox_9",
  "info": "Make sure that your inventory is tracked. Learn more."
},

{
  "type": "range",
  "id": "new_collection_1_range_1",
  "label": "Inventory quantity threshold",
  "default": 3,
  "min": 0,
  "max": 50,
  "step": 1,
  "unit": "no",
  "info": "Only show inventory quantity if below threshold. Choose 0 to always show."
},
 

{
  "type": "checkbox",
  "label": "Show price in add to cart button",
  "id": "new_collection_1_checkbox_10"
},
{
  "type": "checkbox",
  "label": "Show dynamic checkout button",
  "id": "new_collection_1_checkbox_11",
  "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. Learn more"
},
{
  "type": "checkbox",
  "label": "Show local pickup availability",
  "id": "new_collection_1_checkbox_12",
  "info": "Show customers where they can pick up the product. Learn more"
}




],

"presets":[
{
  "category":"Text",
  "name":"New Collection"
}
]
}

{% endschema %}

