<!-- ------------------- News Start ------------------- -->

{%- for block in section.blocks -%}
{%- if block.type == 'text_block' -%}

<div class="parentNews">
  <div class="childNews">
    <p class="h3">{{ block.settings.news_heading_1_1 }}</p>
    <p class="h2, {{ settings.header_option_new1 }}">{{ block.settings.news_heading_1_2 }}</p>

    <div class="cardsNews">
      <div class="card card1">
        
    {%- render
      'srcset',src_name:block.settings.news_image_1_1,src_alt:image,src_class:"test-class"
      -%}

        <div class="text text1">
          <p class="h2">{{ block.settings.news_text_1_1 }}</p>
          <p class="h4">{{ block.settings.news_text_2_1 }}</p>
          <p class="h4" id="readMoreNews">{{ block.settings.news_text_3_1 }}</p>
        </div>
      </div>

      <div class="card card2">
       
    {%- render
      'srcset',src_name:block.settings.news_image_1_2,src_alt:image,src_class:"test-class"
      -%}

        <div class="text text2">
          <p class="h2">{{ block.settings.news_text_1_2 }}</p>
          <p class="h4">{{ block.settings.news_text_2_2 }}</p>
          <p class="h4" id="readMoreNews">{{ block.settings.news_text_3_2 }}</p>
        </div>
      </div>
      <div class="card card3">
        
    {%- render
      'srcset',src_name:block.settings.news_image_1_3,src_alt:image,src_class:"test-class"
      -%}
        <div class="text text3">
          <p class="h2">{{ block.settings.news_text_1_3 }}</p>
          <p class="h4">{{ block.settings.news_text_2_3 }}</p>
          <p class="h4" id="readMoreNews">{{ block.settings.news_text_3_3 }}</p>
        </div>
      </div>
    </div>
    <div class="newsButton">
      <button><a href="#">{{ block.settings.news_button_1_1 }}</a></button>
    </div>
  </div>
</div>
<hr />


{%- endif-%}
{%- endfor -%}

<!-- ------------------- News End ------------------- -->


{% schema %}

{
    "name": "Blog posts",
    "blocks":[
    {
        "name":"Blog",
        "type": "text_block",
        "settings": [
        {
            "type": "text",
            "id": "news_heading_1_1",
            "label": "For News text 1",
            "placeholder": "Type Text",
            "default": "News",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "news_heading_1_2",
            "label": "For Collection text 2",
            "placeholder": "Type Text",
            "default": "From the Blog",
            "info": "Please write details"
        },

        {
            "type": "image_picker",
            "id": "news_image_1_1",
            "label": "For Image 1",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "news_text_1_1",
            "label": "For news text 1",
            "placeholder": "Type Text",
            "default": "Meet The Team: Jaimi-Lee",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "news_text_2_1",
            "label": "For news text 2",
            "placeholder": "Type Text",
            "default": "What’s your role at Auguste the Label? I’m Head of Marketing & eCommerce. This means… I’m constantly jumping between different sides of my brai...",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "news_text_3_1",
            "label": "For news text 1",
            "placeholder": "Type Text",
            "default": "Read more",
            "info": "Please write details"
        },

        {
            "type": "image_picker",
            "id": "news_image_1_2",
            "label": "For Image 2",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "news_text_1_2",
            "label": "For news text 1",
            "placeholder": "Type Text",
            "default": "For the Love of Oceans",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "news_text_2_2",
            "label": "For news text 2",
            "placeholder": "Type Text",
            "default": "In conversation with: Brinkley Davies They say to follow your heart, which in Brinkley Davies’ case has led her to big things – the oceans, for one...",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "news_text_3_2",
            "label": "For news text 1",
            "placeholder": "Type Text",
            "default": "Read more",
            "info": "Please write details"
        },

        {
            "type": "image_picker",
            "id": "news_image_1_3",
            "label": "For Image 1",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "news_text_1_3",
            "label": "For news text 1",
            "placeholder": "Type Text",
            "default": "The Superbloom Launch",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "news_text_2_3",
            "label": "For news text 2",
            "placeholder": "Type Text",
            "default": "To welcome The Superbloom and celebrate all the love and hard work that went into this collection, we recently gathered the team and headed for a f...",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "news_text_3_3",
            "label": "For news text 1",
            "placeholder": "Type Text",
            "default": "Read more",
            "info": "Please write details"
        },

        {
            "type": "text",
            "id": "news_button_1_1",
            "label": "For news button 1",
            "placeholder": "Type Text",
            "default": "ALL OUR STORIES",
            "info": "Please write details"
        }

    ]
}
],
"settings":[

{
  "type": "text",
  "label": "Sub-heading",
  "id": "news_text_1"
 },
 {
  "type": "text",
  "label": "Heading",
  "id": "news_text_2",
  "default": "Featured article"
 },
 {
  "type": "checkbox",
  "label": "Show article category",
  "id": "news_checkbox_1",
  "info": "The first article's tag is used as the main category."
 },
 {
  "type": "url",
  "label": "Button link",
  "id": "news_link_1"
 },
 {
  "type": "text",
  "label": "Button text",
  "id": "news_text_3",
  "default": "View all articles"
 }
],
"presets":[
{
  "category":"Text",
  "name":"News"
}
]
}

{% endschema %}
