<!-- ------------------- Background Image Start ------------------- -->
{%- for block in section.blocks -%}
{%- if block.type == 'text_block' -%}


<div class="parentBackgroundParallax">
  <div class="childBackgroundParallax">
    <div class="text">
      <p class="h4">{{ block.settings.parallax_heading_1_1 }}</p>
      <p class="h4">{{ block.settings.parallax_heading_1_2 }}</p>
      <a href="#">{{ block.settings.parallax_text_1_3 }}</a>
    </div>
  </div>
</div>
{%- endif-%}
{%- endfor -%}
<!-- ------------------- Background Image End ------------------- -->

{% schema %}

{
    "name": "Shop the look",
    "blocks":[
    {
        "name":"Look",
        "type": "text_block",
        "settings": [
        {
            "type": "text",
            "id": "parallax_heading_1_1",
            "label": "For parallax heading 1",
            "placeholder": "Type Text",
            "default": "1% For The Planet",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "parallax_heading_1_2",
            "label": "For parallax text 1",
            "placeholder": "Type Text",
            "default": "August is a proud member of 1% For The Planet",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "parallax_text_1_3",
            "label": "For parallax button 1",
            "placeholder": "Type Text",
            "default": "Learn More",
            "info": "Please write details"
        }

    ]
}
],
"settings":[

{
  "type": "header",
  "content": "Info",
  "info" : "For best results (especially on mobile), we recommend using images with the same dimensions."
},
{
  "type": "text",
  "label": "Sub-heading",
  "id": "parallax_text_1",
  "default": "Shop"
},
{
  "type": "text",
  "label": "Heading",
  "id": "parallax_text_2",
  "default": "Our looks"
},
{
    "type": "checkbox",
    "label": "Show product info on mobile",
    "id": "parallax_checkbox_1"
}
],
"presets":[
{
  "category":"Text",
  "name":"Parallax"
}
]
}

{% endschema %}
