
{% schema %}
{
    "name":"Popup",
    "settings":[
    {
        "type": "checkbox",
        "id": "checkbox_popup_1",
        "label": "Enable"
    },
    {
        "type": "checkbox",
        "id": "checkbox_popup_2",
        "label": "Show only on home page"
    },
    {
        "type": "checkbox",
        "id": "checkbox_popup_3",
        "label": "Show only for visitors",
        "info": "Customers who have created an account on your shop won't see it."
    },
    {
        "type": "checkbox",
        "id": "checkbox_popup_4",
        "label": "Show only once per customer"
    },
    {
        "type": "text",
        "id": "text_popup_1",
        "label": "Heading",
        "default": "Popup"
    },
    {
        "type": "richtext",
        "id": "text_popup_2",
        "label": "Text",
        "default": "<p>You can use this popup to display some useful information to your customers.</p>"
    },
    {
        "type": "checkbox",
        "id": "checkbox_popup_5",
        "label": "Show newsletter form"
    },
    {
        "type": "range",
        "id": "collection_limit",
        "label": "Delay until the popup appears",
        "unit": "sec",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 6
    }
    ],
    "presets":[
    {
        "name":"my-collections"
    }
    ],
    "presets":[
    {
      "category":"Text",
      "name":"Popup"
    }
    ]

}
{% endschema %}


