
{% schema %}
{
    "name":"Sidebar menu",
    "settings":[
    {
        "type": "link_list",
        "id": "sidebar_1_1",
        "label": "Primary menu"
    },
    {
        "type": "link_list",
        "id": "sidebar_1_2",
        "label": "Secondary menu",
        "info": "This menu won't show dropdown items."
    },
    {
        "type": "checkbox",
        "id": "checkbox_sidebar_1",
        "label": "Show social media"
    }
    ],
    "presets":[
    {
        "name":"Sidebar-menu"
    }
    ],
    "presets":[
    {
      "category":"Text",
      "name":"Sidebar menu"
    }
    ]

}
{% endschema %}


