<!-- Slider-first File  -->
{% comment %} abc

<div class="img-area" id="wrapper">
  {% for i in (1..4) %} {% assign text_name1 = 'slider_1_' | append:i %} {%
  assign text_name2 = 'slider_2_' | append:i %} {% assign button_name1 =
  'slider_3_' | append:i %} {% assign link_name1 = 'slider_4_' | append:i %} {%
  assign button_name2 = 'slider_5_' | append:i %} {% assign link_name2 =
  'slider_6_' | append:i %} {% assign img_name1 = 'slider_image_' | append:i %}
  {% assign alt_name1 = 'slider_8_' | append:i %}

  <div class="imgwrap">
    <div class="wrapper1">
      <p class="h5">{{ section.settings[text_name1] }}</p>
      <p class="h2">{{ section.settings[text_name2] }}</p>
      <a href="{{ section.settings[link_name1] }}" target="_blank"
        ><button class="btn">{{ section.settings[button_name1] }}</button></a
      >
      <a href="{{ section.settings[link_name2] }}" target="_blank"
        ><button class="btn1">{{ section.settings[button_name2] }}</button></a
      >
    </div>

    <!-- <img
            src="{{section.settings[img_name1] | img_url:'grande'}}"
            alt="{{section.settings[alt_name1]}}"
          /> -->
    {%- render
    'srcset',src_name:section.settings[img_name1],src_alt:section.settings.image.alt,src_class:"test-class"
    -%}
  </div>
  {% endfor %}
</div>
{% endcomment %}

<div class="img-area" id="wrapper">
  {% for i in (1..4) %} 
  {% assign text_name1 = 'slider_1_' | append:i %} 
  {% assign text_name2 = 'slider_2_' | append:i %} 
  {% assign button_name1 = 'slider_3_' | append:i %} 
  {% assign link_name1 = 'slider_4_' | append:i %} 
  {% assign button_name2 = 'slider_5_' | append:i %} 
  {% assign link_name2 = 'slider_6_' | append:i %} 
  {% assign img_name1 = 'slider_image_' | append:i %}
  {% assign alt_name1 = 'slider_8_' | append:i %} 
  
  {%- for block in section.blocks -%} 
  {%- if block.type == 'text_block' -%}

  <div class="imgwrap">
    <div class="wrapper1">
      <p class="h5">{{ block.settings[text_name1] }}</p>
      <p class="h2">{{ block.settings[text_name2] }}</p>
      <a href="{{ block.settings[link_name1] }}" target="_blank"
        ><button class="btn">{{ block.settings[button_name1] }}</button></a
      >
      <a href="{{ block.settings[link_name2] }}" target="_blank"
        ><button class="btn1">{{ block.settings[button_name2] }}</button></a
      >
    </div>
    {%- render
    'srcset',src_name:block.settings[img_name1],src_alt:block.settings.image.alt,src_class:"test-class"
    -%}
  </div> 
  {%- endif-%} 
  {%- endfor -%} 
  {% endfor %}
</div>

{% schema %}
  
{
"name": "Slideshow",
"blocks":[
{
 "name":"Tell your story",
 "type": "text_block",
 "settings": [
 {
   "type": "text",
   "id": "slider_1_1",
   "label": "For Heading 1 Image 1",
   "placeholder": "Type Text",
   "default": "New Collection",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_2_1",
   "label": "For Heading 2 Image 1",
   "placeholder": "Type Text",
   "default": "Superbloom Valley",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_3_1",
   "label": "For Text Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "DRESSES",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_4_1",
   "label": "For Link Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_5_1",
   "label": "For Text Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "TOPS",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_6_1",
   "label": "For Link Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "image_picker",
   "id": "slider_image_1",
   "label": "For Slider Image 1",
   "info": "Please upload image"
 },
 {
   "type": "text",
   "id": "slider_8_1",
   "label": "For Image Name Image 1",
   "placeholder": "Type Text",
   "default": "Girl1",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_1_2",
   "label": "For Heading 1 Image 1",
   "placeholder": "Type Text",
   "default": "New Collection",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_2_2",
   "label": "For Heading 2 Image 1",
   "placeholder": "Type Text",
   "default": "Superbloom Valley",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_3_2",
   "label": "For Text Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "SHOP",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_4_2",
   "label": "For Link Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_5_2",
   "label": "For Text Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "THE COLLECTION",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_6_2",
   "label": "For Link Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "image_picker",
   "id": "slider_image_2",
   "label": "For Slider Image 1",
   "info": "Please upload image"
 },
 {
   "type": "text",
   "id": "slider_8_2",
   "label": "For Image Name Image 1",
   "placeholder": "Type Text",
   "default": "Girl1",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_1_3",
   "label": "For Heading 1 Image 1",
   "placeholder": "Type Text",
   "default": "New Collection",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_2_3",
   "label": "For Heading 2 Image 1",
   "placeholder": "Type Text",
   "default": "Superbloom Valley",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_3_3",
   "label": "For Text Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "EXPLORE",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_4_3",
   "label": "For Link Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_5_3",
   "label": "For Text Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "ALL DRESSES",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_6_3",
   "label": "For Link Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "image_picker",
   "id": "slider_image_3",
   "label": "For Slider Image 1",
   "info": "Please upload image"
 },
 {
   "type": "text",
   "id": "slider_8_3",
   "label": "For Image Name Image 1",
   "placeholder": "Type Text",
   "default": "Girl1",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_1_4",
   "label": "For Heding 1 Image 1",
   "placeholder": "Type Text",
   "default": "New Collection",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_2_4",
   "label": "For Heading 2 Image 1",
   "placeholder": "Type Text",
   "default": "Superbloom Valley",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_3_4",
   "label": "For Text Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "DRESSES",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_4_4",
   "label": "For Link Button 1 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_5_4",
   "label": "For Text Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "DISCOVER",
   "info": "Please write details"
 },
 {
   "type": "text",
   "id": "slider_6_4",
   "label": "For Link Button 2 Image 1",
   "placeholder": "Type Text",
   "default": "#",
   "info": "Please write details"
 },
 {
   "type": "image_picker",
   "id": "slider_image_4",
   "label": "For Slider Image 1",
   "info": "Please upload image"
 },
 {
   "type": "text",
   "id": "slider_8_4",
   "label": "For Image Name Image 1",
   "placeholder": "Type Text",
   "default": "Girl1",
   "info": "Please write details"
 }
]

}
],
"settings":[
{
    "type": "checkbox",
    "label": "Show full-screen images",
    "id": "slider_1_checkbox_1",
    "info": "If enabled, images will be resized to fit the entire screen."
},
{
    "type": "checkbox",
    "label": "Show bottom arrow",
    "id": "slider_1_checkbox_2"
},
{
    "type": "checkbox",
    "label": "Auto rotate between slides",
    "id": "slider_1_checkbox_3"
},

{
  "type": "range",
  "id": "slider_1_range_1",
  "label": "Change slides every",
  "default": 5,
  "min": 3,
  "max": 8,
  "step": 1,
  "unit": "sec"
},

{
  "type": "color",
  "id": "slider_1_color_1",
  "label": "Text",
  "default": "#FFFFFF"
},
{
  "type": "color",
  "id": "slider_1_color_2",
  "label": "Button text",
  "default": "#363636"
},
{
  "type": "color",  
  "id": "slider_1_color_3",
  "label": "Button background",
  "default": "#FFFFFF"
}



],
"presets":[
{
"category":"Text",
"name":"Slider First"
}
]
}

{% endschema %} 
