<!-- Test Menu for Task - 21 Desktop menu with Shopify Navigation -->

<header>
    <nav>
        <ul class="main-menu">
            {%- for link in linklists[section.settings.main_menu].links -%}
            <li>
                <!-- <a class="link{% if link.active %} active {% endif%}" href='{{link.url}}'>{{link.title}}</a> -->
                {%- if link.links-%}
                <ul class="tire-2">

                    {%- for sublink in link.links-%}
                    <li>
                        <a class="link{% if link.active %} active {% endif%}" href='{{sublink.url}}'>{{sublink.title}}</a>
                        {%- if sublink.links-%} 
                        <ul class="tire-3">                    
                            {%- for sublink1 in sublink.links-%}
                            <li>
                                <a class="link{% if link.active %} active {% endif%}" href='{{sublink1.url}}'>{{sublink1.title}}</a>
                            </li>
                            {%- endfor -%}
                        </ul>
                        {%- endif -%}
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}

               
            </li>
            {%- endfor-%}
        </ul>
    </nav>
</header>


{% schema %}
{
    "name":"Header test",
    "settings":[
    {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main menu"
    }
    ],
    "presets":[
    {
      "category":"Text",
      "name":"Test menu"
    }
    ]
}
{% endschema %}