<!-- ------------------- Three Images Start ------------------- -->

{%- for block in section.blocks -%}
{%- if block.type == 'text_block' -%}

<div class="threeImages">
  <div class="img imageOne">
    <div class="wrapper2">
      <p class="h3">{{ block.settings.three_1_1 }}</p>
      <p class="h2">{{ block.settings.three_1_2 }}</p>
      <a href="#"><button class="btn">{{ block.settings.three_1_3 }}</button></a>
    </div>
    <!-- <img src="" alt="" /> -->
  </div>

  <div class="img imageTwo">
    <div class="wrapper2">
      <p class="h3">{{ block.settings.three_2_1 }}</p>
      <p class="h2">{{ block.settings.three_2_2 }}</p>
      <a href="#"><button class="btn">{{ block.settings.three_2_3 }}</button></a>
    </div>
    <!-- <img src="" alt="" /> -->
  </div>

  <div class="img imageThree">
    <div class="wrapper2">
      <p class="h3">{{ block.settings.three_3_1 }}</p>
      <p class="h2">{{ block.settings.three_3_2 }}</p>
      <a href="#"><button class="btn">{{ block.settings.three_3_3 }}</button></a>
    </div>
    <!-- <img src="" alt="" /> -->
  </div>
</div>


{%- endif-%} 
{%- endfor -%}

<!-- ------------------- Three Images End ------------------- -->


{% schema %}

{
    "name": "Collection list",
    "blocks":[
    {
        "name":"Collection name",
        "type": "text_block",
        "settings": [
        {
            "type": "text",
            "id": "three_1_1",
            "label": "For Image 1 text 1",
            "placeholder": "Type Text",
            "default": "Superbloom",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_1_2",
            "label": "For Image 1 text 2",
            "placeholder": "Type Text",
            "default": "New Arrival",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_1_3",
            "label": "For button 1",
            "placeholder": "Type Text",
            "default": "SHOP NOW",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_2_1",
            "label": "For Image 2 text 1",
            "placeholder": "Type Text",
            "default": "Summer",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_2_2",
            "label": "For Image 2 text 2",
            "placeholder": "Type Text",
            "default": "Dresses",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_2_3",
            "label": "For button 2",
            "placeholder": "Type Text",
            "default": "SHOP NOW",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_3_1",
            "label": "For Image 3 text 1",
            "placeholder": "Type Text",
            "default": "Magnolia",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_3_2",
            "label": "For Image 3 text 2",
            "placeholder": "Type Text",
            "default": "Tops",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "three_3_3",
            "label": "For button 3",
            "placeholder": "Type Text",
            "default": "SHOP NOW",
            "info": "Please write details"
        }
    ]
}
],
"settings":[
{
  "type": "select",
  "id": "theree_images_option_1",
  "label": "Image size",
  "options": [
      {
          "value": "small",
          "label": "Small"
      },
      {
          "value": "normal",
          "label": "Normal"
      },
      {
        "value": "large",
        "label": "Large"
    }
  ] 
},
{
    "type": "checkbox",
    "label": "Add spacing",
    "id": "three_images_checkbox_1"
},
{
  "type": "checkbox",
  "label": "Expand collections to fill row",
  "id": "three_images_checkbox_2"
},
{
  "type": "checkbox",
  "label": "Stack on mobile",
  "id": "three_images_checkbox_3"
},
{
  "type": "color",
  "label": "Text",
  "id": "three_images_color_1"
},
{
  "type": "color",
  "label": "Button text",
  "id": "three_images_color_2"
}
],
"presets":[
{
  "category":"Text",
  "name":"Three"
}
]
}

{% endschema %}

