<!-- ------------------- Weekly Selection Start ------------------- -->

  {% comment %}     
For collection

{%- for product in collections['sale-1'].products limit:1 -%}       
  {%- render 'srcset',src_name:product.featured_image,src_alt:image.alt,src_class:"test-class-feature" -%}
{%- endfor -%}

{% endcomment %}

{%- for block in section.blocks -%} 
{%- if block.type != 'text_block' -%}

<div class="weeklySelection">
  <p class="h4, {{ settings.header_option_new1 }}">{{ block.settings.weekly_1_1 }}</p>
  <div class="weeklyButton">
    <button><a>{{ block.settings.weekly_1_2 }}</a></button>
    <button><a>{{ block.settings.weekly_1_3 }}</a></button>
  </div>
</div>

<div class="parentSlider">
  <div class="childSlider2">
    <div class="slider1">
      {% for i in (1..9) %}  
      {% assign text_name_1 = 'weekly_text_1_' | append:i %} 
      {% assign text_name_2 = 'weekly_text_2_' | append:i %} 
      {% assign img_selection_1 = 'weekly_image_' | append:i %} 
      
      <div class="slider01">
        <div class="image1">
          {%- render
            'srcset',src_name:block.settings[img_selection_1],src_alt:block.settings.image.alt,src_class:"test-class"
            -%}
        </div>
        <p class="h4">{{ block.settings[text_name_1] }}</p>
        <p class="h4">{{ block.settings[text_name_2] }}</p>
      </div>
      {% endfor %}
    </div>     
  </div>
</div>
<div class="allProductsButton">
  <button><a href="#">{{ block.settings.weekly_button_1  }}</a></button>
</div>

{%- endif -%} 
{%- endfor -%}

<!-- ------------------- Weekly Selection end ------------------- -->

{% schema %} 

{
    "name": "Featured collections",
    "blocks":[
    {
        "name":"Collection",
        "type": "text",
        "settings": [
        {
            "type": "text",
            "id": "weekly_1_1",
            "label": "For Heading",
            "placeholder": "Type Text",
            "default": "Weekly Selection",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_1_2",
            "label": "For Button 1",
            "placeholder": "Type Text",
            "default": "Dresses",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_1_3",
            "label": "For Button 2",
            "placeholder": "Type Text",
            "default": "Tops",
            "info": "Please write details"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_1",
            "label": "For Image 1",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_1",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_1",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_2",
            "label": "For Image 2",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_2",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_2",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_3",
            "label": "For Image 3",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_3",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_3",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_4",
            "label": "For Image 4",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_4",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_4",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_5",
            "label": "For Image 5",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_5",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_5",
            "label": "For Price",
            "placeholder": "Type Price", 
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_6",
            "label": "For Image 6",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_6",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_6",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_7",
            "label": "For Image 7",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_7",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_7",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_8",
            "label": "For Image 8",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_8",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_8",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "image_picker",
            "id": "weekly_image_9",
            "label": "For Image 9",
            "info": "Please upload image"
        },
        {
            "type": "text",
            "id": "weekly_text_1_9",
            "label": "Imaga info text",
            "placeholder": "Type Text",
            "default": "Edie Cascade Wrap Mini Dress Black",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "weekly_text_2_9",
            "label": "For Price",
            "placeholder": "Type Price",
            "default": "$159",
            "info": "Please write Price"
        },
        {
            "type": "text",
            "id": "weekly_button_1",
            "label": "For Button",
            "placeholder": "Button text",
            "default": "VIEW ALL PRODUCTS",
            "info": "Please write text"
        }
    ]
}
],

"settings":[
{
    "type": "text",
    "label": "Sub-heading",
    "id": "weekly_text_1",
    "default": "Featured collection "
},

{
    "type": "select",
    "id": "weekly_option_1",
    "label": "Layout",
    "options": [
        {
            "value": "grid",
            "label": "Grid"
        },
        {
            "value": "carousel",
            "label": "Carousel"
        }
    ]
},

{
    "type": "checkbox",
    "label": "Show product info",
    "id": "weekly_checkbox_1_1"
},
{
    "type": "checkbox",
    "label": "Show vendor",
    "id": "weekly_checkbox_2"
},
{
    "type": "checkbox",
    "label": "Show color swatch",
    "id": "weekly_checkbox_3",
    "info": "Some colors appear white? Learn more."
},

{
    "type": "header",
    "content": "Grid",
    "info": "Those settings apply only if the layout mode is set to grid."
},

{
    "type": "select",
    "id": "weekly_option_2",
    "label": "Products per row (mobile)",
    "options": [
        {
            "value": "1",
            "label": "1"
        },
        {
            "value": "2",
            "label": "2"
        }
    ]
 },

 {
    "type": "range",
    "id": "weekly_range_1",
    "label": "Products per row (desktop)",
    "default": 4,
    "min": 2,
    "max": 4,
    "step": 1,
    "unit": "no"
  }
 

],

"presets":[
{
  "category":"Text",
  "name":"Weekly"
}
]
}

{% endschema %}
