<!-- ------------------- Welcome Start ------------------- -->
{%- for block in section.blocks -%}
{%- if block.type == 'text_block' -%}

<div class="parentWelcome">
    <div class="childWelcome">
      <div class="text2">
        <p class="h4">{{ block.settings.welcome_heading_1_1 }}</p>
        <p class="h2, {{settings.header_option_new1}}">{{ block.settings.welcome_heading_1_2 }}</p>
        <p class="h4">{{ block.settings.welcome_text_1_3 }}</p>
      </div>
    </div>
    <div class="video1">
      <iframe
        src="https://www.youtube.com/embed/HH3NPLPgL1c"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    {% comment %}     
abc 

<video class="slideshow__video" autoplay loop
  src="https://dl.dropbox.com/s/efmasxv2qqj3qe3/y2mate.com%20-%20mlouye_pandora_AJNIeNHnnNs_1080p.mp4?dl=0">
</video>
{% endcomment %}
  </div>


{%- endif-%}
{%- endfor -%}
  <!-- ------------------- Welcome End ------------------- -->

{% schema %}

{
    "name": "Timeline",
    "blocks":[
    {
        "name":"Welcome",
        "type": "text_block",
        "settings": [
        {
            "type": "text",
            "id": "welcome_heading_1_1",
            "label": "For welcome heading 1",
            "placeholder": "Type Text",
            "default": "Welcome To",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "welcome_heading_1_2",
            "label": "For welcome heading 2",
            "placeholder": "Type Text",
            "default": "Auguste The Label",
            "info": "Please write details"
        },
        {
            "type": "text",
            "id": "welcome_text_1_3",
            "label": "For welcome text 1",
            "placeholder": "Type Text",
            "default": "We started Auguste with a clear vision: to transcend trends, and instead design future vintage pieces that would be loved for seasons to come. ",
            "info": "Please write details"
        }

    ]
}
],
"settings":[

{
  "type": "color",
  "label": "Mobile text color",
  "id": "welcome_color_0"
 }
],
"presets":[
{
  "category":"Text",
  "name":"Welcome"
}
]
}

{% endschema %}
