<style>  :root {
    --color-body-text: {{ settings.color_body_text }};
    --color-body: {{ settings.color_body_bg }};
    --btn-background-link : {{ settings.color_buttons_background2 }};
  }
</style>

