
    <!-- ------------------- Footer Start ------------------- -->

    <div class="parentFooter">
        <div class="childFooter">

            <div class="clo column1">
                <p class="h4 head">About the shop</p>
                <p class="h4">Auguste The Label is a boutique Australian brand dreamt up by Byron Bay native Ebony Eagles.</p>
                <p class="h4">Ebony started Auguste with a clear vision: to transcend trends, and instead design future vintage pieces that would be loved for seasons to come.</p>
          

            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-youtube-play"></i>
            <i class="fa fa-tumblr"></i>

            <div class="text">

            <p class="h6">© Prestige - Couture</p>
            <p class="h4">Powered by Shopify</p>
        </div>
            </div>
          

            <div class="clo column2">
                <p class="h4 head">Shop</p>
                <ul>
                    <li><a href="#">All</a></li>
                    <li><a href="#">Dresses</a></li>
                    <li><a href="#">Tops</a></li>
                    <li><a href="#">Skirts</a></li>
                    <li><a href="#">Jumpsuits</a></li>
                </ul>
            </div>

            <div class="clo column3">
                <p class="h4 head">About</p>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>

            <div class="clo column4">
                <p class="h4 head">Newsletter</p>
                <p class="h4">Subscribe to get notified about product launches, special offers and company news.</p>
                <input type="text" placeholder="Enter your email address">
                <br>
                <button>SUBSCRIBE</button>
            </div>
        </div>
    </div>
    <!-- ------------------- Footer End ------------------- -->
