<!-- Head File  -->

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="theme-color" content="{{ settings.color_primary }}" />
<link rel="canonical" href="{{ canonical_url }}" />

{% if settings.favicon %}
<link
  rel="shortcut icon"
  href="{{ settings.favicon_image_1 | img_url: '32x32' }}"
  type="image/png"
/>
{% endif %}

<title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags |
  join: ', ' %} &ndash; {{ "general.meta.tags" | t: tags:meta_tags }}{% endif
  %}{% if current_page != 1 %} &ndash;
  {{ "general.meta.page" | t: page:current_page }}{% endif %}{% unless
  page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
</title>

{% if page_description %}
<meta name="description" content="{{ page_description | escape }}" />
{% endif %} {% render 'social-meta-tags' %} {% render 'css-variables' %}

{%- render 'main-css' -%}
