<!-- main css liquid file -->

<style>
        {% assign header_font = settings.header_font_new1 %}
        {% assign base_font = settings.body_font_new %}

        {{ header_font | font_face }}
        {{ base_font | font_face }}
        
    :root{
        /* ================= General Colors ================= */
        --color-general-heading:{{settings.color_general_heading}};
        --color-general-body:{{settings.color_general_body}};
        --color-general-body1:{{settings.color_general_body1}};
        --color-general-font1:{{settings.color_general_font1}};
        --color-general-link1:{{settings.color_general_link1}};
        --color-general-background1:{{settings.color_general_background1}};
        --color-general-background2:{{settings.color_general_background2}};
        --color-general-sale1:{{settings.color_general_sale1}};

        
        /* ================= Buttons Colors ================= */
        --color-buttons-background2:{{settings.color_buttons_background2}};
        --color-buttons-text2:{{settings.color_buttons_text2}};
        
        /* ================= Header Colors ================= */
        --color-header-background4:{{settings.color_header_background4}};
        --color-header-headings4:{{settings.color_header_headings4}};
        --color-header-text4:{{settings.color_header_text4}};

        /* ================= Footer Colors ================= */
        --color-footer-background5:{{settings.color_footer_background5}};
        --color-footer-heading5:{{settings.color_footer_heading5}};
        --color-footer-text5:{{settings.color_footer_text5}};

        /* ================= Sidebar navigation Colors ================= */
        --color-sidebar-background6:{{settings.color_sidebar_background6}};
        --color-sidebar-text6:{{settings.color_sidebar_text6}};

        /* ================= Newsletter popup Colors ================= */
        --color-popup-background7:{{settings.color_popup_background7}};
        --color-popup-text7:{{settings.color_popup_text7}};

        /* ================= Secondary elements Colors ================= */
        --color-secondary-background8:{{settings.color_secondary_background8}};
        --color-secondary-text8:{{settings.color_secondary_text8}};


        /* ================= Typography Font Family ================= */
        --header-font-new1:{{header_font.family}}; 
        --body-font-new:{{base_font.family}}; 
        --body-base-size1:{{settings.body_base_size1}}; 
        
        /* ================= --:{{settings.}}; Temp ================= */
        

    }
</style>

<link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
