    <!-- ------------------- Navbar start ------------------- -->

<div class="upperNav">
      <p class="h3, {{settings.header_option_new1}}">Free shipping on orders over $100</p>
    </div>

    <nav class="navbar">
      <div class="navLine1">
        <div class="dropdown">
          <select name="" id="">
            <option value="USD">USD $</option>
            <option value="CAD">CAD $</option>
            <option value="EUR">EUR €</option>
            <option value="JPY">JPY ¥</option>
            <option value="USD">USD $</option>
          </select>
        </div>
        <div class="themeName1">
          <!-- <p class="h8">Prestige</p> -->
          <img
            src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Logo-black-2x-prestige_130x.png?v=1524939414"
            alt="logo"
          />
        </div>
        <div class="cart1">
          <div class="menu">
            <ul>
              <li>Account</li>
              <li>Search</li>
              <li>Cart (0)</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="navLine2">
        <div class="menu">
          <ul>
            <li>Home</li>
            <li>Shop</li>
            <li>Dresses</li>
            <li>Blog</li>
            <li>About</li>
            <li>FAQ</li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- ------------------- Navbar end ------------------- -->
