    <!-- ------------------- New Collection Start ------------------- -->

    <div class="newCollection">
      <div class="text">
        <p class="h3">New Collection</p>
        <p class="h2, {{settings.header_option_new1}}">The SuperBloom</p>
      </div>

      <div class="parentSlider03">
      <div class="slider03">
        <div class="parentNewCollection">
          <div class="sliderNewCollection">
            <div class="imageCollention">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Shop-the-look-3_600x.progressive.jpg?v=1526945449"
                alt="image"
              />
            </div>
            <div class="dressCollection">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/r_AAM2-18163-GR-DesertDandelionGraceMaxiDress-Emerald-DeepEtch-Front_2000x_7c657746-b8b0-4d58-8ef8-84223892b1b5_400x.jpg?v=1569294059"
                alt="dress"
              />
              <p class="h4">Desert Dandelion Grace Blouse Emerald</p>
              <p class="h4">$135</p>
              <a href=""><button>VIEW THIS PRODUCT</button></a>
            </div>
          </div>
        </div>
        <div class="parentNewCollection">
          <div class="sliderNewCollection">
            <div class="imageCollention">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Shop-the-look-2_600x.progressive.jpg?v=1526945440"
                alt="image"
              />
            </div>
            <div class="dressCollection">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/r-AAM2-18173-WH-TwiggyEmroideredHighNeckBlouse-White-DeepEtch-Front_2000x_cdfd7b2f-8449-4a2f-885f-2e61b35fa67a_400x.jpg?v=1569294060"
                alt="dress"
              />
              <p class="h4">Twiggy Embroided High Neck Blouse White</p>
              <p class="h4">$175</p>
              <a href=""><button>VIEW THIS PRODUCT</button></a>
            </div>
          </div>
        </div>
        <div class="parentNewCollection">
          <div class="sliderNewCollection">
            <div class="imageCollention">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Shop-the-look-5_600x.progressive.jpg?v=1526945481"
                alt="image"
              />
            </div>
            <div class="dressCollection">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/r-AAM2-18114-EM-Desert-CanyonBoyfriendRomper-Emerald-DeepEtch-Front_2000x_c7adff2a-ef42-4c11-8ab9-2dc9b3713b3e_400x.jpg?v=1569294057"
                alt="dress"
              />
              <p class="h4">Canyon Boyfriend Romper Emerald</p>
              <p class="h4" id="canyonRomber">$175 <span>$200</span></p>
              <a href=""><button>VIEW THIS PRODUCT</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
      <hr />
    </div>

    <!-- ------------------- New Collection End ------------------- -->
