
    <!-- ------------------- News Start ------------------- -->
    <div class="parentNews">
      <div class="childNews">
        <p class="h3">News</p>
        <p class="h2, {{settings.header_option_new1}}">From the Blog</p>

        <div class="cardsNews">
          <div class="card card1">
            <img
              src="https://cdn.shopify.com/s/files/1/0011/9242/7564/articles/cover-1_400x.jpg?v=1526837111"
              alt="image1"
            />

            <div class="text text1">
              <p class="h2">Meet The Team: Jaimi-Lee</p>
              <p class="h4">
                What’s your role at Auguste the Label? I’m Head of Marketing &
                eCommerce. This means… I’m constantly jumping between different
                sides of my brai...
              </p>
              <p class="h4" id="readMoreNews">Read More</p>
            </div>
          </div>

          <div class="card card2">
            <img
              src="https://cdn.shopify.com/s/files/1/0011/9242/7564/articles/cover_9c59ef28-f637-4389-a634-14bb3935784a_400x.jpg?v=1526861578"
              alt="image"
            />

            <div class="text text2">
              <p class="h2">For the Love of Oceans</p>
              <p class="h4">
                In conversation with: Brinkley Davies They say to follow your
                heart, which in Brinkley Davies’ case has led her to big things
                – the oceans, for one...
              </p>
              <p class="h4" id="readMoreNews">Read More</p>
            </div>
          </div>
          <div class="card card3">
            <img
              src="https://cdn.shopify.com/s/files/1/0011/9242/7564/articles/cover_788d8578-47f7-4d61-9a86-506416e89422_400x.jpg?v=1526859620"
              alt="image3"
            />
            <div class="text text3">
              <p class="h2">The Superbloom Launch</p>
              <p class="h4">
                To welcome The Superbloom and celebrate all the love and hard
                work that went into this collection, we recently gathered the
                team and headed for a f...
              </p>
              <p class="h4" id="readMoreNews">Read More</p>
            </div>
          </div>
        </div>
        <div class="newsButton">
          <button><a href="#">ALL OUR STORIES</a></button>
        </div>
      </div>
    </div>
    <hr />

    <!-- ------------------- News End ------------------- -->
