
    <!-- ------------------- Background Image Start ------------------- -->

    <div class="parentBackgroundParallax">
        <div class="childBackgroundParallax">
            <div class="text">
            <p class="h4">1% For The Planet</p>
            <p class="h4">August is a proud member of 1% For The Planet</p>
            <a href="#">Learn More</a>
        </div>
        </div>
    </div>
    <!-- ------------------- Background Image End ------------------- -->