
    <!-- ------------------- Slider start ------------------- -->
    <div class="img-area" id="wrapper">
      <div class="imgwrap">
        <div class="wrapper1">
          <p class="h3">New Collection</p>
          <p class="h2">Superbloom Valley</p>
          <a href="#"><button class="btn" id="dressButton">DRESSES</button></a>
          <a href="#"><button class="btn1" id="topsButton">TOPS</button></a>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---6_1600x.jpg?v=1527703158"
          alt="slider image"
        />
      </div>

      <div class="imgwrap">
        <div class="wrapper1">
          <p class="h3">The</p>
          <p class="h2">Superbloom</p>
          <a href="#"
            ><button class="btn" id="shopButton">SHOP THE COLLECTION</button></a
          >
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---8_1600x.jpg?v=1527703171"
          alt="slider image"
        />
      </div>

      <div class="imgwrap">
        <div class="wrapper1">
          <p class="h3">The</p>
          <p class="h2">New Arrival</p>
          <a href="#"><button class="btn">EXPLORE</button></a>
          <a href="#"><button class="btn1">ALL DRESSES</button></a>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---11_1600x.jpg?v=1527703679"
          alt="slider image"
        />
      </div>

      <div class="imgwrap">
        <div class="wrapper1">
          <p class="h3">The</p>
          <p class="h2">Superbloom</p>
          <a href="#"><button class="btn">SHOP THE COLLECTION</button></a>
        </div>
        <img
          src="https://cdn.shopify.com/s/files/1/0011/9242/7564/files/Slide-desktop---4_1600x.jpg?v=1527703015"
          alt="slider image"
        />
      </div>
    </div>
    <!-- ------------------- Slider end ------------------- -->
