    <!-- ------------------- Three Images Start ------------------- -->
    <div class="threeImages">
      <div class="img imageOne">
        <div class="wrapper2">
          <p class="h3">Superbloom</p>
          <p class="h2">New Arrivals</p>
          <a href="#"><button class="btn">SHOP NOW</button></a>
        </div>
        <!-- <img src="" alt="" /> -->
      </div>

      <div class="img imageTwo">
        <div class="wrapper2">
          <p class="h3">Summer</p>
          <p class="h2">Dresses</p>
          <a href="#"><button class="btn">SHOP NOW</button></a>
        </div>
        <!-- <img src="" alt="" /> -->
      </div>

      <div class="img imageThree">
        <div class="wrapper2">
          <p class="h3">Magnolia</p>
          <p class="h2">Tops</p>
          <a href="#"><button class="btn">SHOP NOW</button></a>
        </div>
        <!-- <img src="" alt="" /> -->
      </div>
    </div>

    <!-- ------------------- Three Images End ------------------- -->
