    <!-- ------------------- Weekly Selection Start ------------------- -->
    <div class="weeklySelection">
      <p class="h4, {{settings.header_option_new1}}">Weekly Selection</p>
      <div class="weeklyButton">
        <button>
          <a>Dresses</a>
        </button>
        <button>
          <a>Tops</a>
        </button>
      </div>
    </div>
    <div class="parentSlider">
      <div class="childSlider2">
        <div class="slider1">
          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18069-BK-EdieCascadeWrapMiniDress-Black-Front5_400x.jpg?v=1569273996"
                alt="image"
              />
            </div>
            <p class="h4">Edie Cascade Wrap Mini Dress Black</p>
            <p class="h4">$159</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18068-BL-EdieCascadeWrapMiniDress-DustyBlue-Front9_400x.jpg?v=1569273994"
                alt="image"
              />
            </div>
            <p class="h4">Edie Cascade Wrap Mini Dress Dusty Blue</p>
            <p class="h4">$159</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18049-PI-ScarlettWrapMaxiDress-Blush-Front15_400x.jpg?v=1569273993"
                alt="image"
              />
            </div>
            <p class="h4">Scarlett Wrap Maxi Dress Blush</p>
            <p class="h4">$199</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18048-BK-ScarlettWrapMaxiDress-Black-Side3_400x.jpg?v=1569273992"
                alt="image"
              />
            </div>
            <p class="h4">Scarlett Wrap Maxi Dress Black</p>
            <p class="h4">$199</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18047-PI-ScarlettSlipMaxiDress-Blush-Side1_400x.jpg?v=1569273992"
                alt="image"
              />
            </div>
            <p class="h4">Scarlett Slip Maxi Dress Blush</p>
            <p class="h4">$189</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18046-BK-ScarlettSlipMaxiDress-Black-Side1_400x.jpg?v=1569273992"
                alt="image"
              />
            </div>
            <p class="h4">Scarlett Slip Maxi Dress Black</p>
            <p class="h4">$189</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18043-PI-ScarlettFineDayDress-Blush-Front22_400x.jpg?v=1569273981"
                alt="image"
              />
            </div>
            <p class="h4">Scarlett Fine Day Dress Blush</p>
            <p class="h4">$229</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18042-BK-ScarlettFineDayDress-Black-Front8_400x.jpg?v=1569273981"
                alt="image"
              />
            </div>
            <p class="h4">Scarlett Fine Day Dress Black</p>
            <p class="h4">$229</p>
          </div>

          <div class="slider01">
            <div class="image1">
              <img
                src="https://cdn.shopify.com/s/files/1/0011/9242/7564/products/AFL2-18041-PI-ScarlettFineDress-Blush-Front1_400x.jpg?v=1569273977"
                alt="image"
              />
            </div>
            <p class="h4">Scarlett Fine Dress Blush</p>
            <p class="h4">$249</p>
          </div>
        </div>
      </div>
    </div>
    <div class="allProductsButton">
      <button><a href="#">VIEW ALL PRODUCTS</a></button>
    </div>
    <!-- ------------------- Weekly Selection end ------------------- -->
