<!-- ------------------- Welcome Start ------------------- -->
    <div class="parentWelcome">
      <div class="childWelcome">
        <div class="text2">
          <p class="h4">Welcome To</p>
          <p class="h2, {{settings.header_option_new1}}">Auguste The Label</p>
          <p class="h4">
            We started Auguste with a clear vision: to transcend trends, and
            instead design future vintage pieces that would be loved for seasons
            to come.
          </p>
        </div>
      </div>
      <div class="video1">
        <iframe
          src="https://www.youtube.com/embed/HH3NPLPgL1c"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>

    <!-- ------------------- Welcome End ------------------- -->